USE [master]
GO
/****** Object:  Database [chatroom]    Script Date: 1/16/2025 10:26:59 PM ******/
CREATE DATABASE [chatroom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chatroom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\chatroom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chatroom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\chatroom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chatroom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chatroom]
GO
/****** Object:  Table [dbo].[conversation]    Script Date: 1/16/2025 10:26:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversation](
	[is_group] [bit] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
 CONSTRAINT [PK__conversa__3213E83F93389795] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 1/16/2025 10:26:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [bigint] NOT NULL,
	[first_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[hash_password] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[last_seen] [datetime2](6) NOT NULL,
	[profile_picture] [varchar](255) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
